<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donors Page</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/donors.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/initiatives.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>
          <!-- HEADER AND NAVIGATION SECTION -->
    <header>
       <a href="file:///Users/teresatorres/dev/wdi/AMC/views/index.html" target="_self"><img class="aapmLogo" src="../public/images/AAPMF-logo.png" alt="AAPMF logo and link to aapmfoundation.org" title="The American Academy of Pain Medicine Foundation"/></a>
       <div class="hamIcon" title="navigational menu drop down">
          <div class="menuText">menu</div>
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
       </div>
       <nav>
         <ul class="nav-list">
           <li title="WRITE A SHORT DESCRIPTION OF THIS BUTTON"><a class="callAct" href="#" target="_self">DONATE</a></li>
           <li><a class="nav-link" href="#" target="_self">ABOUT</a></li>
           <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/initiatives.html" target="_self">INITIATIVES</a></li>
           <li><a class="nav-link activeLink" href="file:///Users/teresatorres/dev/wdi/AMC/views/donors.html" target="_self">DONORS</a></li>
           <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/leadership.html" target="_self">LEADERSHIP</a></li>
           <li><a class="nav-link" href="#" target="_self">GRANTS (TBD)</a></li>
         </ul>
       </nav>
    </header>

       <!-- WRAPPER FOR PAGE CONTENT -->
    <div class="ctn-page">

      <!-- HERO SECTION AND IMAGE -->
      <section class="sc-Hero">
        <article class="hero-Art">
          <div class="ctn-thumb">
            <img class="hero-thumb" src="../public/images/docXray-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT"/>
          </div>
          <div class="hero-art-ctn">
            <h1 class="hero-Headline">DONORS HEADLINE</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada maximus leo, ac semper orci cursus ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada maximus leo, ac semper orci cursus ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </article>
      </section>

       <section class="donors">

         <article class="donorAmount">
             <div class="amount">
               <h2>$5000+</h2>
             </div>
             <div class="donorlist-ctn">
               <div class="donorlist">
                 <ul>
                   <li>Lynn R. Webster, MD</li>
                 </ul>
               </div>
             </div>
         </article>

         <article class="donorAmount">
             <div class="amount">
               <h2>$2000+</h2>
             </div>
             <div class="donorlist-ctn">
               <div class="donorlist">
                 <ul>
                   <li>Mark A. Ellis, MD</li>
                   <li>B. Todd Sitzman, MD MPH</li>
                 </ul>
               </div>
             </div>
         </article>

         <article class="donorAmount">
             <div class="amount">
               <h2>$1000+</h2>
             </div>
             <div class="donorlist-ctn">
               <div class="donorlist">
                 <ul>
                   <li>Chester “Trip” Buckenmaier III, MD</li>
                   <li>Jianguo Cheng, MD PhD</li>
                   <li>Timothy R. Deer, MD</li>
                   <li>Elliot S. Krames, MD</li>
                   <li>Sean Mackey, MD PhD</li>
                   <li>Bill McCarberg, MD</li>
                   <li>Beth B. Murinson, MD</li>
                 </ul>
               </div>
             </div>
         </article>

         <article class="donorAmount">
             <div class="amount">
               <h2>$500+</h2>
             </div>
             <div class="donorlist-ctn">
               <div class="donorlist">
                 <ul>
                   <li>Philip A. Saigh Jr.</li>
                   <li>Marsha Stanton, PhD RN</li>
                 </ul>
               </div>
             </div>
         </article>

         <article class="donorAmount">
             <div class="amount">
               <h2>$200+</h2>
             </div>
             <div class="donorlist-ctn scrollBox">
               <div class="donorlist">
                 <ul>
                    <li>Zeeshan Ahmad, MD</li>
                    <li>Miroslav Backonja, MD</li>
                    <li>Kenneth R. Britton, DO</li>
                    <li>Angela Casey</li>
                    <li>Meredith Gray Chappell, PA-C</li>
                    <li>Joseph T. Crapanzano Jr., MD</li>
                    <li>Dennis Daniel Dey, MD</li>
                    <li>John W. East, DO</li>
                    <li>Hugh G. Gallagher, MD FFARCSI</li>
                    <li>Terrance Hughes, MD</li>
                    <li>Lynn R. Johnson, MD</li>
                    <li>Alan F. Kwon, MD</li>
                    <li>Jonathan Lester, MD</li>
                 </ul>
               </div>
               <div class="donorlist">
                 <ul>
                    <li>Rosanne Marquis, NP</li>
                    <li>Lam Nguyen, DO</li>
                    <li>Tu Nguyen, MD</li>
                    <li>Steven R. Peloquin, MD</li>
                    <li>Ahmad Nadeem Rafi, MD</li>
                    <li>Gary Reasor, MD</li>
                    <li>Patrick N. Rhoades, MD</li>
                    <li>Joseph Schianodicola, MD</li>
                    <li>Michael Valpiani, MD</li>
                    <li>William C. Watters III, MD</li>
                    <li>Lynda Torfreda Wells, MD MBBS</li>
                    <li>K. Dean Willis, MD</li>
                    <li>Robyn G. Young, MD</li>
                 </ul>
               </div>
             </div>
         </article>

         <article class="donorAmount">
           <div class="amount">
             <h2>Up to $200</h2>
           </div>
           <div class="donorlist-ctn scrollBox">
             <div class="donorlist">
               <ul>
                 <li>Kamel S. Abraham, MD</li>
                 <li>Francis Acquah, MD</li>
                 <li>Ade Adedokun, DO</li>
                 <li>Anthony F. Afong, MD</li>
                 <li>Essam M. Aghel, MD</li>
                 <li>Mohamed M. Al Jaberi, MD</li>
                 <li>Donald Algeo, DO</li>
                 <li>Eyad Alsabbagh, RPH</li>
                 <li>Mary Kay Ams</li>
                 <li>Alfred V. Anderson, MD</li>
                 <li>James W. Atchison, DO</li>
                 <li>Jerome Aul, MD</li>
                 <li>Zahid H. Bajwa, MD</li>
                 <li>Edward Balbas, MD</li>
                 <li>Gregory N. Ball, MD</li>
                 <li>Richard David Ball, MD PhD</li>
                 <li>Meredith Barad, MD</li>
                 <li>Vivek Barclay, MD</li>
                 <li>Mark D. Barhorst, MD</li>
                 <li>Jeremy Barlow, MD</li>
                 <li>Charles V. Barrett, DO</li>
                 <li>Randall K. Barrett, DO</li>
                 <li>Oryan Baruch, DO</li>
                 <li>Rachel L. Basse, MD</li>
                 <li>Gustin Don Bateman, MD</li>
                 <li>John Battilana, MD</li>
                 <li>Eric T. Baumann, MD</li>
                 <li>Michael Edwin Bearb, MD</li>
                 <li>Joseph Beck, MD</li>
                 <li>Marshall D. Bedder, MD FRCPC</li>
                 <li>John Beerbower, MD</li>
                 <li>Robert J. Berens, MD</li>
                 <li>John Beresh, MD</li>
                 <li>Daniel Bernstein, MD</li>
                 <li>Bill Gene Berryman, MD</li>
                 <li>Steven Best, MD</li>
                 <li>Vidya R. Bethi, MD</li>
                 <li>Robert O. Bigler, MD</li>
                 <li>Sarah Bilissis</li>
                 <li>Edward Bilsky, PhD</li>
                 <li>Michael Binder, MD</li>
                 <li>Randolph Bishop, MD</li>
                 <li>Marioara Bodea, MD</li>
                 <li>Charles H. Bonner, MD</li>
                 <li>Donald L. Boos, MD</li>
                 <li>Carlos A. Botero, MD</li>
                 <li>Boris Boyko, MD</li>
                 <li>Winifred D. Bragg, MD</li>
                 <li>Nancy Bratanow, MD</li>
                 <li>John K. Brendel, MD</li>
                 <li>Randall Brewer, MD</li>
                 <li>Thomas Brooks, MD</li>
                 <li>Daniel L. Bruning, MD</li>
                 <li>Thomas B. Bryan, MD</li>
                 <li>Anew Brylowski, MD</li>
                 <li>Thomas E. Buchheit, MD</li>
                 <li>Wynndel Todd Buenger, MD</li>
                 <li>Randy Calisoff, MD</li>
                 <li>Patrick Eugene Callahan, MD</li>
                 <li>Brienna Marie Cameron, PA</li>
                 <li>James H. Campagna, MD</li>
                 <li>Kenneth D. Candido, MD</li>
                 <li>Patrick Carone, MD</li>
                 <li>Daniel B. Carr, MD</li>
                 <li>Jose M. Casanova, MD PhD</li>
                 <li>Antoine Chami, MD DABA DABPM</li>
                 <li>Samuel Y. Chan, MD</li>
                 <li>Leon H. Chandler, MD</li>
                 <li>Hui-Ming Chang, MD MPH</li>
                 <li>James Kenneth Chang, MD</li>
                 <li>Kaliq Chang, MD</li>
                 <li>Kenneth Chapman, MD</li>
                 <li>Ron Chatterjee, MD</li>
                 <li>Kathy Checea</li>
                 <li>T .Z. Chen, MD</li>
                 <li>Emil S. Cheng, MD</li>
                 <li>Gary Lee Child, DO</li>
                 <li>May L. Chin, MD</li>
                 <li>Leanne R. Cianfrini, PhD</li>
                 <li>David Ciochetty, MD</li>
                 <li>Philip J. Citek, MD, QME</li>
                 <li>Mark Daniel Clark, MD</li>
                 <li>Ian M.C. Clarke, MD</li>
                 <li>William L. Clauson, MD</li>
                 <li>Rebecca Clearman, MD</li>
                 <li>Deborah Coates, DO FAOCA</li>
                 <li>Kamyar Cohanshohet, MD</li>
                 <li>Fred L. Cohen, MD</li>
                 <li>Mitchell Cohen, MD, DABPM</li>
                 <li>Steven P. Cohen, MD</li>
                 <li>Kevin Allen Coleman, MD FIPP DABPM DABIPP</li>
                 <li>William J. Conard, MD</li>
                 <li>He Cong, MD</li>
                 <li>Robert Ian Cooper, MD</li>
                 <li>Michael D. Courtney, MD</li>
                 <li>Luis E. Crespo, MD</li>
                 <li>William Croson, MD</li>
                 <li>Nancy E. Cross, MD</li>
                 <li>Dante Cubangbang, MD</li>
                 <li>John Dana, MD</li>
                 <li>Nailesh Dave, MD</li>
                 <li>Malene Davis</li>
                 <li>Gary N. Dawson , MD</li>
                 <li>Fred DeFrancesch, MD</li>
                 <li>Helene Dehaan, APRN</li>
                 <li>Jason Deluca, MD</li>
                 <li>Stanley Robert Dennison Jr., MD</li>
                 <li>David J. DiBenedetto, MD</li>
                 <li>Stephen W. Dinger, DO</li>
                 <li>Richard H. Docherty, MD</li>
                 <li>Daniel Doleys, PhD</li>
                 <li>John F. Dombrowski, MD</li>
                 <li>Carmen L. Dominguez, MD</li>
                 <li>Eric Dominguez, MD</li>
                 <li>Liane Donovan, MD</li>
                 <li>John Dooley, MD</li>
                 <li>John M. Downey, DO</li>
                 <li>David Drake, MD</li>
                 <li>Richard A. DuBose, MD</li>
                 <li>Lenard Roy Durrett, MD PhD</li>
                 <li>Gopala Dwarakanath, MD</li>
                 <li>Jill Eckert, DO</li>
                 <li>Steven A. Ecoff, DO</li>
                 <li>Fred Clayton Edge, MD</li>
                 <li>Dave Eichman, MD</li>
                 <li>Amro El-Adle</li>
                 <li>Mohamed Elkersh, MD</li>
                 <li>Jennifer A. Elliott, MD</li>
                 <li>M. Alan El-Tobgui, MD</li>
                 <li>Stephen M. Enes, MD</li>
                 <li>Phillip L. Engen, MD</li>
                 <li>David Epperson, MD</li>
                 <li>Richard S. Epter, MD</li>
                 <li>Stephen Eraker, MD MPH</li>
                 <li>Nancy Erickson, DO</li>
                 <li>Luis Alcides Escobar, MD</li>
                 <li>Phillip E. Essay, MD</li>
                 <li>Mary Jane Estrada-Lyder, NP</li>
                 <li>Cesar A. Euribe, MD</li>
                 <li>Richard Arthur Evans, MD</li>
                 <li>George A. Farhat, MD</li>
                 <li>Richard Feeney, DO</li>
                 <li>Vladimir Fiks, MD</li>
                 <li>Mark Filley, MD</li>
                 <li>Juan B. Firnhaber, MD</li>
                 <li>Orlando G. Florete, MD</li>
                 <li>Joseph K. Fluence, MD</li>
                 <li>James K. Fortman, MD</li>
                 <li>Elizabeth Fowler, MD</li>
                 <li>James E. Fox, MD</li>
                 <li>Michael C. Francis, MD</li>
                 <li>Vlada Frankenberger, DO</li>
                 <li>Edward Frankoski, DO</li>
                 <li>P. Joseph Frawley, MD</li>
                 <li>Mitchell Freedman, DO</li>
                 <li>Luc Frenette, MD</li>
                 <li>Viliam Furdik, MD</li>
                 <li>Melany Furiky, DO</li>
                 <li>John M. Furry, MD</li>
                 <li>Bradley S. Galer, MD</li>
                 <li>Scott A. Gammel, MD</li>
                 <li>Dianna Garcia, PA-C</li>
                 <li>Rinly R. Gecosala, MD</li>
                 <li>Kunnathu P. Geevarghese, MD</li>
                 <li>Carolyn Gehlhausen-Kochert, MD</li>
                 <li>Mary Catherine George</li>
                 <li>Sunil Gera, MD</li>
                 <li>Robert D. Gerwin, MD</li>
                 <li>Gary L. Gettelfinger, MD</li>
                 <li>David Giampetro, MD</li>
                 <li>Rodney Gilbert, MD</li>
                 <li>Joseph Ted Gillespie, MD</li>
                 <li>George Edward Girardi, MD</li>
                 <li>Shereef Girgis, MD</li>
                 <li>Carlos Giron, MD</li>
                 <li>Sebastian Gitter, MD</li>
                 <li>Allan Gittman, MD</li>
                 <li>John Lee Givogre, MD</li>
                 <li>Mark Gladstein, MD</li>
                 <li>Michael S. Gorback, MD</li>
                 <li>Vitaly Gordin, MD</li>
               </ul>
             </div>

             <div class="donorlist">
               <ul>
                 <li>Douglas Gourlay, MD</li>
                 <li>Martin Grabois, MD</li>
                 <li>Steven J. Granberg, MD</li>
                 <li>Lynette Green-Mack, MD</li>
                 <li>David Gordon Greenberg, MD</li>
                 <li>Dario A. Grisales, MD</li>
                 <li>James H. Gruft, MD</li>
                 <li>Pragya B. Gupta, MD</li>
                 <li>Suresh Gupta, MD</li>
                 <li>Chris Gary Gussner, MD</li>
                 <li>Nameer R. Haider, MD</li>
                 <li>Martin Hale, MD</li>
                 <li>Ayman Hamed, MD</li>
                 <li>Thomas W. Hanlon, MD</li>
                 <li>Kendall Hansen, MD</li>
                 <li>Edward P. Hargus, MD</li>
                 <li>Mark Hashim, MD</li>
                 <li>Aric Hausknecht, MD</li>
                 <li>Cheryl Anne Hayes, DO</li>
                 <li>Eric R. Haynes, MD</li>
                 <li>Howard A. Heit, MD FACP FASAM</li>
                 <li>Keela A. Herr, PhD RN FAAN AGSF</li>
                 <li>Jonathan M. Hirsch, MD</li>
                 <li>Kelsey N. Hohlen, PA-C</li>
                 <li>Mark Holtsman, PharmD</li>
                 <li>Imtiaz Hossain, MD</li>
                 <li>James B. Hough, MD</li>
                 <li>Demaceo Howard, MD</li>
                 <li>Jian Hu, MD</li>
                 <li>Zhengyu Hu, MD</li>
                 <li>John Byron Hunt, MD</li>
                 <li>Juan M. Ibarra, MD</li>
                 <li>Mohammad S. Iqbal, MD</li>
                 <li>Kristal Nicole James, NP</li>
                 <li>William George James, MD</li>
                 <li>Nicholas Robert Jasper, MD</li>
                 <li>Keith B. Javery, DO</li>
                 <li>Helen Vernetta Johnson, MD</li>
                 <li>Vance Z. Johnson, MD</li>
                 <li>Murray E. Joiner, MD</li>
                 <li>David Jones, MD</li>
                 <li>Roland P. Jones, MD</li>
                 <li>Ron Jones, DO</li>
                 <li>Ted Jones, PhD</li>
                 <li>William B. Jones, MD</li>
                 <li>Maralee Joseph, MD</li>
                 <li>Mark Juska, MD</li>
                 <li>Laurie Kabins, MD</li>
                 <li>Gary Kaplan, DO</li>
                 <li>Ronald Kaplan, MD</li>
                 <li>Sana D. Kaplan, MD</li>
                 <li>Alexane Karatchounov, MD</li>
                 <li>Christine L. Kasser, MD</li>
                 <li>Bradley P. Katz, MD</li>
                 <li>Navnit K. Kaur-Jayaram, MD</li>
                 <li>Ioannis Kehagias, MD</li>
                 <li>Blake Kelly, MD</li>
                 <li>Lowell Douglas Kennedy, MD DABPM</li>
                 <li>Al-Amin A. Khalil, MD</li>
                 <li>Fred Khalouf, DO</li>
                 <li>Su E. Khanthan, MD</li>
                 <li>Seung Won Kim, MD</li>
                 <li>Phillip R. Kingma, MD</li>
                 <li>Jeffrey J. Kirouac, MD</li>
                 <li>Christopher Allen Kizina, MD</li>
                 <li>Stephan Klessinger, MD</li>
                 <li>Steven V. Klippert, MD</li>
                 <li>Philip W. Kocoloski, MD</li>
                 <li>Zdenko Korunda, MD</li>
                 <li>Peter Kosek, MD</li>
                 <li>Chris J. Kottenstette, PA-C</li>
                 <li>Michael A. Kowbel, MD</li>
                 <li>Robert D. Kramberg, MD</li>
                 <li>Thomas J. Kraus, DO</li>
                 <li>Kurt A. Krueger, MD</li>
                 <li>Sebastian Ksionski, MD</li>
                 <li>Ashok Kumar, MD</li>
                 <li>Ganguly Apurba Kumar, MD</li>
                 <li>Paul Kuzma, MD</li>
                 <li>Martin Philip Lanoff, MD</li>
                 <li>Robert L. Lansden, MD</li>
                 <li>Martha Lara</li>
                 <li>Denis Larochelle, MD</li>
                 <li>Rene Larrieu, MD</li>
                 <li>Richard Larson, MD</li>
                 <li>Gregory J. Lawler, DO</li>
                 <li>Brian Lecuyer, NP</li>
                 <li>John A. Ledington, MD</li>
                 <li>John Keun Sang Lee, MD PhD LAC</li>
                 <li>Theresia Lee, MD</li>
                 <li>Larry Lefors, DO</li>
                 <li>Sergio Lenchig, MD</li>
                 <li>Richard Lennertz, MD</li>
                 <li>Robert David Lesser, MD</li>
                 <li>Aaron M. Levine, MD</li>
                 <li>Richard Lingreen, MD</li>
                 <li>William L. Lippert, MD</li>
                 <li>Kaixuan Liu, MD, PhD</li>
                 <li>Mark R. LoDico, MD</li>
                 <li>John D. Loeser, MD</li>
                 <li>Lisa Longworth-Gatto, DO</li>
                 <li>Stephen Lucas, MD</li>
                 <li>Carol A. Ludolph, MD</li>
                 <li>Lon J. Lutz, MD</li>
                 <li>Lionel Albert Lynch, PA-C</li>
                 <li>Nelly K. Mac, MD</li>
                 <li>James B. Macon, MD</li>
                 <li>Karin S. Maddox, MD</li>
                 <li>Matthew J. Magnino, MD</li>
                 <li>Scott Magnuson, MD</li>
                 <li>Satish Mahna, MD</li>
                 <li>Niriksha Malladi, MD</li>
                 <li>Antonios Mammis, MD</li>
                 <li>Douglas Manganelli, MD</li>
                 <li>Daniel M. Mankoff, MD</li>
                 <li>Vivek A. Manocha, MD</li>
                 <li>James G. Marx, MD</li>
                 <li>Jim B. Mase, MD</li>
                 <li>Stanley Mathew, MD</li>
                 <li>Philip Roger Matthews, DO</li>
                 <li>Carol A. Matthys, MSN NP</li>
                 <li>Timothy P. Maus, MD</li>
                 <li>Richard Mazzaferro, DO</li>
                 <li>Michael K. McFadden, MD</li>
                 <li>Ryan McHugh, MD</li>
                 <li>William Porter McRoberts, MD</li>
                 <li>William F. Meadows, MD</li>
                 <li>Bina Mehta, MD</li>
                 <li>Ralph G. Menard, MD</li>
                 <li>Tom Merriman, MD</li>
                 <li>Timothy John Metz, MD</li>
                 <li>J. Paul Meyer, MD</li>
                 <li>Rafael Miguel, MD</li>
                 <li>Mary Ann Miknevich, MD</li>
                 <li>Rhee Miller, MD</li>
                 <li>Ronald S. Miller, MD</li>
                 <li>Thomas Miller, MD</li>
                 <li>Raymond B. Minard, MD</li>
                 <li>Anson Moise, MD</li>
                 <li>Rebeca Monreal, DO</li>
                 <li>Erika Moody, MD</li>
                 <li>Monte H. Moore, MD</li>
                 <li>Arthur Morelli</li>
                 <li>G. Thomas Morgan, MD</li>
                 <li>Brendan P. Morley, MD</li>
                 <li>Richard H. Morse, MD</li>
                 <li>Steven Mortazavi, MD</li>
                 <li>Jana Mossey, PhD MPH MSN</li>
                 <li>Julie A. Muche, MD</li>
                 <li>Charles William Murphy, MD</li>
                 <li>Michelle Murphy, APRN</li>
                 <li>Robert Muscio, MD</li>
                 <li>Richard Nahas, MD</li>
                 <li>Sunil S. Naik, MD</li>
                 <li>Seema Nambiar, MD</li>
                 <li>Steven Nathin, MD</li>
                 <li>David O. Nelson, MD</li>
                 <li>Mark Louis Nelson, MD</li>
                 <li>Nathan J. Neufeld, DO</li>
                 <li>Christopher J. Neumann, PharmD</li>
                 <li>William Newton, DO</li>
                 <li>Bruce D. Nicholson, MD</li>
                 <li>Rod Novak</li>
                 <li>Gary W. Nyman, MD</li>
                 <li>David R. O’Brien Jr., MD</li>
                 <li>Mary O’Keefe</li>
                 <li>Robin R. Ockey, MD</li>
                 <li>Robert H. Odell Jr., MD</li>
                 <li>Barry Ogin, MD</li>
                 <li>Ikechukwu Okorie, MD</li>
                 <li>Gary Olbrich, MD</li>
                 <li>Mathew Oloyd, MD</li>
                 <li>Robert Oloyd, MD</li>
                 <li>Timothy Olson, MD</li>
                 <li>Karen J. Ortenberg, MD</li>
                 <li>Kenneth Oswalt, MD</li>
                 <li>Einar Ottestad, MD</li>
                 <li>Matthew Pabis, MD</li>
                 <li>Gurpreet S. Padda, MD</li>
                 <li>Hector C. Pagan, MD</li>
                 <li>Anthony L. Paglia, MD</li>
               </ul>
             </div>

             <div class="donorlist">
              <ul>
                <li>Robert W. Paige, MD</li>
                <li>David Paly, MD</li>
                <li>Michael Duane Papenfuse, DO</li>
                <li>Autry James Parker Jr., MD</li>
                <li>Stephen Parker, MD</li>
                <li>Devon Parks, PA-C</li>
                <li>Uzma Parvez, MD</li>
                <li>Christopher R. Pasquale, MD</li>
                <li>Aita De Patel, MD</li>
                <li>Hamantkumar B. Patel, MD</li>
                <li>Jashvant G. Patel, MD</li>
                <li>Jayen H. Patel, MD</li>
                <li>Ketan Patel, MD</li>
                <li>Janice Pauley, MD</li>
                <li>Wayne Settle Paullus Jr., MD</li>
                <li>Eric Pearson, MD</li>
                <li>Claudia E. Penalba, MD</li>
                <li>Stephen Peroutka, MD PhD</li>
                <li>Mark Phillips, MD</li>
                <li>Jeff Pierce, DO</li>
                <li>Brian D. Pierson, MD</li>
                <li>Sunitha Polepalle, MD</li>
                <li>Alena Polesin, MD</li>
                <li>Ira Posner, MD</li>
                <li>Jules Preudhomme, MD</li>
                <li>Jeffrey Prinsell, MD</li>
                <li>Etienne Prinsloo, MD</li>
                <li>Srinivasa N. Raja, MD</li>
                <li>Manuel R. Ramirez, MD</li>
                <li>Manjit S. Randhawa, MD</li>
                <li>Imad H. Rasool, MD PhD</li>
                <li>Kenneth Reed, MD</li>
                <li>Cheryl Retterath, RN</li>
                <li>Peter Reusswig, MD</li>
                <li>Patrick T. Reynolds, MD</li>
                <li>Paul C. Reynolds, MD</li>
                <li>William Blane Richardson, MD</li>
                <li>Steven Richeimer, MD</li>
                <li>Gary M. Richman, MD</li>
                <li>Kenneth J. Richter, DO PC</li>
                <li>Thomas J. Ripperda, MD</li>
                <li>William W. Robbins, DO</li>
                <li>Robert E. Roberts III, MD</li>
                <li>Richard Andrew Robertson, MD</li>
                <li>Darryl D. Robinson, MD</li>
                <li>Babak Roboubi, MD</li>
                <li>Gabriel Roiguez, MD</li>
                <li>George L. Roiguez, MD</li>
                <li>Melanie Rosenblatt, MD</li>
                <li>Hans Jorg Rosler, MD</li>
                <li>Barry J. Ross, MD</li>
                <li>Edgar L. Ross, MD</li>
                <li>Robert Rossi, MD</li>
                <li>Daniel Christopher Roth, DO MBA MS</li>
                <li>James Edwards Roth, MD</li>
                <li>James Leonard Routon, MD</li>
                <li>John C. Rowlingson, MD</li>
                <li>Mark J. Rubin, MD</li>
                <li>Ramin Safakish, MD</li>
                <li>Bolkar Sahinler, MD</li>
                <li>Tetsuya Sakai, MD</li>
                <li>Manhal Saleeby, MD</li>
                <li>Hugo Salguero, MD</li>
                <li>Michael Saltzburg, DO</li>
                <li>Manuel Sanchez, MD</li>
                <li>John R. Satterthwaite, MD</li>
                <li>Roberto Saucedo-Trapero, MD</li>
                <li>Calin A. Savu, MD</li>
                <li>Ian M. Schaja, DO</li>
                <li>Michael Schatman, PhD</li>
                <li>Mark Schlesinger, MD</li>
                <li>Mark Schlimgen, MD</li>
                <li>Marvin Schneider, MD</li>
                <li>Leslie Schofferman, MD</li>
                <li>Jeff Scott, MD</li>
                <li>Dennis Scurry, MD</li>
                <li>John A. Serpa, MD</li>
                <li>Adam Sewell, MD</li>
                <li>Ahmed I. Sewielam, MD</li>
                <li>Mamoona Shaikh-Ahmad, MD</li>
                <li>Evan Ronald Shapiro, MD</li>
                <li>Grant Harper Shumaker, MD</li>
                <li>Brian H. Siegel, MD</li>
                <li>Varsha Sikka, MD</li>
                <li>Lee Silk, MD</li>
                <li>Julie Silver</li>
                <li>Dana L. Simon, MD</li>
                <li>Jill Sindt, MD</li>
                <li>Townsend Smith III, MD</li>
                <li>Andrew John Smolenski, MD</li>
                <li>Lisabeth A. Smolenski, MD</li>
                <li>Paul S. Soccio, MD</li>
                <li>Daneshvari R. Solanki, MD</li>
                <li>Leonard Soloniuk, MD</li>
                <li>Neil Raaj Soni, MD</li>
                <li>Lief A. Sorensen, MD</li>
                <li>Dustin Steven Sorenson, MD</li>
                <li>Roger William Spencer, MD</li>
                <li>David L. Spivey, MD</li>
                <li>Steven P. Stanos Jr., DO</li>
                <li>Michael D. Stanton-Hicks, MD MBBS</li>
                <li>James B. Stark, MD</li>
                <li>David I. Stein, MD</li>
                <li>Steven A. Stein, DO</li>
                <li>Richard L. Stieg, MD</li>
                <li>James V. Stonecipher, MD</li>
                <li>Joseph Fred Stoner, MD</li>
                <li>Dale G. Stott, MD</li>
                <li>Douglas L. Stringer, MD</li>
                <li>Merle P. Stringer, MD</li>
                <li>Kenneth P. Sun, MD</li>
                <li>Bhavin Suthar, MD</li>
                <li>Shyam Swain, MD</li>
                <li>Anzej Szczepanek, MD</li>
                <li>Minyi Tan, MD</li>
                <li>James Sherman Tate, MD</li>
                <li>David J. Tauben, MD</li>
                <li>Ashokkumar S. Thanki, MD</li>
                <li>Mark Thimineur, MD</li>
                <li>Joey Thomas, MD</li>
                <li>Stephen M. Thomas, MD</li>
                <li>Hal Tobias, MD</li>
                <li>Edward Lewis Tobinick, MD</li>
                <li>Allen John Togut, MD</li>
                <li>Gerald E. Trimble, MD</li>
                <li>Armando Troche, MD</li>
                <li>Robert Ulseth, MD</li>
                <li>Shailesh P. Upadhyay, MD</li>
                <li>Vincent Valdez, MD</li>
                <li>Zain Vally-Mahomed, MD</li>
                <li>Joseph Vanden Bosch, MD</li>
                <li>Yves Veillette, MD</li>
                <li>Jose G. Veliz, MD</li>
                <li>Jose Luis Villarreal, MD</li>
                <li>Christopher Lowell Vinsant, MD</li>
                <li>John S. Vlattas, MD</li>
                <li>Thuong Vo, MD</li>
                <li>Gregory Ward, MD</li>
                <li>Bohdan J. Warycha, MD</li>
                <li>Ajay D. Wasan, MD</li>
                <li>Edward P. Washabaugh, MD</li>
                <li>Kevin Weber</li>
                <li>Lawrence Weil, MD</li>
                <li>Debra K. Weiner, MD</li>
                <li>Luiz Weksler, MD</li>
                <li>Joan Westbrook, PA-C</li>
                <li>Jennifer Westlund</li>
                <li>Daniel M. Wik, MD</li>
                <li>Shelly Wik, APRN</li>
                <li>James S. Wike Jr., MD</li>
                <li>Debra Lynn Williams, DO</li>
                <li>Paula B. Williams, MD</li>
                <li>Aubrey Duane Williamson, MD</li>
                <li>Kathlene S. Williamson, MSN RN FNPBC CRNP</li>
                <li>Shawna Wilson, ANP-BC</li>
                <li>William L. Wilson, MD</li>
                <li>Robert E. Windsor Jr., MD</li>
                <li>Alon P. Winnie, MD</li>
                <li>Natalie Best Winter, MD</li>
                <li>Linda Wolbers, MD MPH</li>
                <li>Marc D. Wolfsohn, MD</li>
                <li>Edward A. Workman, MD FAAPM</li>
                <li>Sergey Wortman, MD</li>
                <li>Scott Woska, MD</li>
                <li>Robert E. Wright, MD</li>
                <li>Timothy A. Wright, MD</li>
                <li>Paul Wu, MD</li>
                <li>Shirley X. Wu, MD</li>
                <li>Daniel R. Wynn, MD FACN FASSM</li>
                <li>Anne V. Xavier, MD</li>
                <li>Stevens Yang, MD</li>
                <li>Thomas L. Yearwood, MD PhD</li>
                <li>Marc J. Yland, MD PC</li>
                <li>Edward Yost, MD DABA</li>
                <li>George W. Young, DO</li>
                <li>Joshua Hongsang Yun, MD</li>
                <li>Kevin L. Zacharoff, MD</li>
                <li>Yili Zhou, MD, PhD</li>
                <li>Eugenia Zimmerman, MD</li>
                <li>Philip J. Zitello, MD</li>
                <li>David William Zub, MD</li>
                <li>Zachary Zumbar, MD</li>
              </ul>
             </div>
           </div>
         </article>
       </section>










      <!-- FOOTER AND SUB-FOOTER ELEMENT-->
      <footer>
        <div class="att-text">
          <h2>Footer Call-to-Action Headline!</h2>
          <p>Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis.</p>
        </div>
        <div class="btt-ct">
            <a class="buttonDonate" href="#" target="_self" title="WRITE A SHORT DESCRIPTION OF THIS BUTTON">DONATE</a>
            <i>Supporting Statement</i>
        </div>
      </footer>
      <div class="sub-footer">
          <div class="loc-info">
            <strong> &copy; The American Academy of Pain Medicine Foundation</strong>
            <address>8735 W. Higgins Road, Suite 300 &#8226; Chicago, Il 60631 &#8226; 847.375.4731</address>
          </div>
          <div class="ctn-sublist">
            <ul class="subFT-links">
              <li><a href="#">VISIT AAPM</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
          </div>
      </div>
     <!-- END OF CTN-PAGE -->
    </div>

    <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
  </body>
</html>
