<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX LANDING</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/landing.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>
          <!-- HEADER AND NAVIGATION SECTION -->
    <header>
      <a href="file:///Users/teresatorres/dev/wdi/AMC/views/index.html" target="_self"><img class="aapmLogo" src="../public/images/AAPMF-logo.png" alt="AAPMF logo and link to aapmfoundation.org" title="The American Academy of Pain Medicine Foundation"/></a>
      <div class="hamIcon" title="navigational menu drop down">
          <div class="menuText">menu</div>
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
      </div>
      <nav>
        <ul class="nav-list">
          <li title="WRITE A SHORT DESCRIPTION OF THIS BUTTON"><a class="callAct" href="#" target="_self">DONATE</a></li>
          <li><a class="nav-link" href="#" target="_self">ABOUT</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/initiatives.html" target="_self">INITIATIVES</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/donors.html" target="_self">DONORS</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/leadership.html" target="_self">LEADERSHIP</a></li>
          <li><a class="nav-link" href="#" target="_self">GRANTS (TBD)</a></li>
        </ul>
      </nav>
    </header>
        <!-- WRAPPER FOR PAGE CONTENT -->
  <div class="ctn-page">
        <!-- MAIN LANDING SECTION AND IMAGE -->
    <section class="landing-SC">
      <div class="headline">
        <h1>CALL-TO-ACTION HEADLINE</h1>
          <blockquote>
            <p class="mainqoute">
              “Nam tincidunt laoreet lacinia. Integer eget
              convallis erat, nec condimentum leo.
              Quisque eu metus et justo feugiat ultrices.”
            </p>
            <p class="cite"><i>—Charles Argoff, MD AAPMF President</i></p>
          </blockquote>
            <a class="buttonDonate btt-Donate" href="#" target="_self" title="PLEASE FILL THIS OUT">DONATE</a>
      </div>
    </section>
    <div class="arrow"><div></div></div>

      <!-- IMPACT STATEMENTS SECTION -->
      <section class="ctn-headlines">
        <h1>IMPACT HEADLINE</h1>
        <div class="SC-statements">
            <article class="imp-article">
              <div class="ctn-thumb">
                <img class="thumbnails" src="../public/images/docTutorial-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              </div>
              <div class="article-ct">
                <div class="article-text">
                  <h2>Impact Statement Testing To See Break</h2>
                  <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.
                  </p>
                </div>
                <a class="getMore" href="#">READ MORE >></a>
              </div>
            </article>

            <article class="imp-article">
              <div class="ctn-thumb">
                <img class="thumbnails" src="../public/images/head-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              </div>
              <div class="article-ct">
                <div class="article-text">
                  <h2>Impact Statement</h2>
                  <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.  Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.
                  </p>
                </div>
                <a class="getMore" href="#">READ MORE >></a>
              </div>
            </article>

            <article class="imp-article">
              <div class="ctn-thumb">
                <img class="thumbnails" src="../public/images/docXray-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              </div>
              <div class="article-ct">
                <div class="article-text">
                  <h2>Impact Statement</h2>
                  <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.  Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.
                  </p>
                </div>
                <a class="getMore" href="#">READ MORE >></a>
              </div>
            </article>

            <article class="imp-article">
              <div class="ctn-thumb">
                <img class="thumbnails" src="../public/images/kneePain-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              </div>
              <div class="article-ct">
                <div class="article-text">
                  <h2>Impact Statement</h2>
                  <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut. Nullam
                    malesuada maximus leo, ac semper orci
                    cursus ut.
                  </p>
                </div>
                <a class="getMore" href="#">READ MORE >></a>
              </div>
            </article>
        </div>
      </section>

        <!-- FOOTER AND SUB-FOOTER ELEMENT-->
    <footer>
      <div class="att-text">
        <h2>Footer Call-to-Action Headline!</h2>
        <p>Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis. Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis. Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis.</p>
      </div>
      <div class="btt-ct">
          <a class="buttonDonate" href="#" target="_self" title="WRITE A SHORT DESCRIPTION OF THIS BUTTON">DONATE</a>
          <i class="sp-statement">Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis. Fusce pretium finibus diam, non egestas erat mattis quis. </i>
      </div>
    </footer>
    <div class="sub-footer">
        <div class="loc-info">
          <strong> &copy; The American Academy of Pain Medicine Foundation</strong>
          <address>8735 W. Higgins Road, Suite 300 &#8226; Chicago, Il 60631 &#8226; 847.375.4731</address>
        </div>
        <div class="ctn-sublist">
          <ul class="subFT-links">
            <li><a href="#">VISIT AAPM</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
    </div>
  <!-- END OF CTN-PAGE -->
  </div>

   <!-- SCRIPTS DEPENDENCIES -->
   <script src="../public/javascripts/lib/jquery.min.js"></script>
   <!-- APPLICATION JAVASCRIPT -->
   <script src="../public/javascripts/app.js"></script>
   <!-- ALERT FOR OlDER BROWSERS -->
   <script src="../public/javascripts/alert.js"></script>
  </body>
</html>
