<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="IMPORTANT FOR SEO">
    <meta name="keywords" content="IMPORTANT FOR SEO">
    <meta name="author" content="IMPORTANT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INITIATIVES PAGE IMPORTANT</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/initiatives.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>
          <!-- HEADER AND NAVIGATION SECTION -->
    <header>
      <a href="file:///Users/teresatorres/dev/wdi/AMC/views/index.html" target="_self"><img class="aapmLogo" src="../public/images/AAPMF-logo.png" alt="AAPMF logo and link to aapmfoundation.org" title="The American Academy of Pain Medicine Foundation"/></a>
      <div class="hamIcon" title="navigational menu drop down">
          <div class="menuText">menu</div>
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
      </div>
      <nav>
        <ul class="nav-list">
          <li title="WRITE A SHORT DESCRIPTION OF THIS BUTTON"><a class="callAct" href="#" target="_self">DONATE</a></li>
          <li><a class="nav-link" href="#" target="_self">ABOUT</a></li>
          <li><a class="nav-link activeLink" href="file:///Users/teresatorres/dev/wdi/AMC/views/initiatives.html" target="_self">INITIATIVES</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/donors.html" target="_self">DONORS</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/leadership.html" target="_self">LEADERSHIP</a></li>
          <li><a class="nav-link" href="#" target="_self">GRANTS (TBD)</a></li>
        </ul>
      </nav>
    </header>

      <!-- WRAPPER FOR PAGE CONTENT -->
  <div class="ctn-page">

      <!-- MAIN INITIATIVE SECTION AND IMAGE -->
    <section class="sc-Hero">
      <article class="hero-Art">
        <div class="ctn-thumb">
          <img class="hero-thumb" src="../public/images/docXray-thumbnail.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT"/>
        </div>
        <div class="hero-art-ctn">
          <h1 class="hero-Headline">INITIATIVES HEADLINE</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada maximus leo, ac semper orci cursus ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada maximus leo, ac semper orci cursus ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </article>
    </section>

      <!-- MAIN INITIATIVE SECTION AND IMAGE -->
      <section class="sc-initNews">
        <article class="Init">
          <h2>Initiative 1</h2>
          <p>
            Ut nulla libero, posuere eget lobortis sit amet, hendrerit vel massa. Etiam at velit et dolor aliquet egestas vel eget ligula. Nulla quis velit ut nisi ornare malesuada. Aenean sapien magna, ultricies in ligula eu, molestie vulputate odio.
          </p>
          <div class="small">
            <div class="artText">
              <img class="imgleft" src="../public/images/xRayBackPain.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              <p>
                hey work you
                 Quisque sollicitudin sodales erat, et accumsan ipsum. Praesent ut est sit amet nulla interdum efficitur vitae vitae libero. Nam orci justo, efficitur nec leo non, blandit ullamcorper libero. Etiam in mauris quis velit iaculis bibendum.
              </p>
              <p>
                Nam a orci sit amet mi dignissim lobortis a ut magna. In hac habitasse platea dictumst. Vestibulum consequat lectus a magna accumsan pulvinar non faucibus neque. Suspendisse ac hendrerit lacus.
              </p>
              <p>
                Etiam eget ante sagittis augue cursus rutrum. Pellentesque laoreet ante quis condimentum blandit. Ut auctor vulputate quam molestie aliquet. Aenean tincidunt aliquam vestibulum. Fusce dignissim purus risus, a facilisis neque elementum et. Mauris viverra, libero non viverra mattis, nisi orci rhoncus nisl, sit amet dignissim turpis est quis arcu.
              </p>
            </div>
          </div>
          <span class="readMore">+ READ MORE</span>
        </article>

        <article class="Init">
          <h2>Initiative 2</h2>
          <em>Corporate Sponsorship Subhead</em>
          <p>
            Curabitur tincidunt finibus libero a placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus lacinia quam ut elit dapibus, sit amet pretium nunc volutpat. Suspendisse sed pulvinar dui.
          </p>
          <div class="small">
            <div class="artText">
              <img class="imgleft" src="../public/images/xRayBackPain.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              <p>
                hey work you
                 Quisque sollicitudin sodales erat, et accumsan ipsum. Praesent ut est sit amet nulla interdum efficitur vitae vitae libero. Nam orci justo, efficitur nec leo non, blandit ullamcorper libero. Etiam in mauris quis velit iaculis bibendum.
              </p>
              <p>
                Nam a orci sit amet mi dignissim lobortis a ut magna. In hac habitasse platea dictumst. Vestibulum consequat lectus a magna accumsan pulvinar non faucibus neque. Suspendisse ac hendrerit lacus.
              </p>
              <p>
                Etiam eget ante sagittis augue cursus rutrum. Pellentesque laoreet ante quis condimentum blandit. Ut auctor vulputate quam molestie aliquet. Aenean tincidunt aliquam vestibulum. Fusce dignissim purus risus, a facilisis neque elementum et. Mauris viverra, libero non viverra mattis, nisi orci rhoncus nisl, sit amet dignissim turpis est quis arcu.
              </p>
              <img class="imgright" src="../public/images/xRayBackPain.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              <p>
                Etiam eget ante sagittis augue cursus rutrum. Pellentesque laoreet ante quis condimentum blandit. Ut auctor vulputate quam molestie aliquet. Aenean tincidunt aliquam vestibulum. Fusce dignissim purus risus, a facilisis neque elementum et. Mauris viverra, libero non viverra mattis, nisi orci rhoncus nisl, sit amet dignissim turpis est quis arcu.
              </p>
              <p>
                Etiam eget ante sagittis augue cursus rutrum. Pellentesque laoreet ante quis condimentum blandit. Ut auctor vulputate quam molestie aliquet. Aenean tincidunt aliquam vestibulum. Fusce dignissim purus risus, a facilisis neque elementum et. Mauris viverra, libero non viverra mattis, nisi orci rhoncus nisl, sit amet dignissim turpis est quis arcu.
              </p>
              <p>
                hey work you
                 Quisque sollicitudin sodales erat, et accumsan ipsum. Praesent ut est sit amet nulla interdum efficitur vitae vitae libero. Nam orci justo, efficitur nec leo non, blandit ullamcorper libero. Etiam in mauris quis velit iaculis bibendum.
              </p>
              <p>
                Nam a orci sit amet mi dignissim lobortis a ut magna. In hac habitasse platea dictumst. Vestibulum consequat lectus a magna accumsan pulvinar non faucibus neque. Suspendisse ac hendrerit lacus.
              </p>
            </div>
          </div>
          <span class="readMore">+ READ MORE</span>
        </article>

        <article class="Init">
          <h2>Initiative 3</h2>
          <em>Corporate Sponsorship Subhead</em>
          <p>
            Duis ut aliquam purus, nec pellentesque dui. Suspendisse nec dolor facilisis, ultricies lacus in, feugiat elit. Suspendisse et molestie libero, ac tincidunt augue. Vivamus tempor urna a sollicitudin aliquet.
          </p>
          <div class="small">
            <div class="artText">
              <img class="imgleft" src="../public/images/xRayBackPain.jpg" alt="PLEASE FILL WITH MEANINGFUL TEXT" />
              <p>
                hey work you
                 Quisque sollicitudin sodales erat, et accumsan ipsum. Praesent ut est sit amet nulla interdum efficitur vitae vitae libero. Nam orci justo, efficitur nec leo non, blandit ullamcorper libero. Etiam in mauris quis velit iaculis bibendum.
              </p>
              <p>
                Nam a orci sit amet mi dignissim lobortis a ut magna. In hac habitasse platea dictumst. Vestibulum consequat lectus a magna accumsan pulvinar non faucibus neque. Suspendisse ac hendrerit lacus.
              </p>
              <p>
                Etiam eget ante sagittis augue cursus rutrum. Pellentesque laoreet ante quis condimentum blandit. Ut auctor vulputate quam molestie aliquet. Aenean tincidunt aliquam vestibulum. Fusce dignissim purus risus, a facilisis neque elementum et. Mauris viverra, libero non viverra mattis, nisi orci rhoncus nisl, sit amet dignissim turpis est quis arcu.
              </p>
            </div>
          </div>
          <span class="readMore">+ READ MORE</span>
        </article>
      </section>

        <!-- FOOTER AND SUB-FOOTER ELEMENT-->
    <footer>
      <div class="att-text">
        <h2>Footer Call-to-Action Headline!</h2>
        <p>Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis.</p>
      </div>
      <div class="btt-ct">
          <a class="buttonDonate" href="#" target="_self" title="WRITE A SHORT DESCRIPTION OF THIS BUTTON">DONATE</a>
          <i>Supporting Statement</i>
      </div>
    </footer>
    <div class="sub-footer">
        <div class="loc-info">
          <strong> &copy; The American Academy of Pain Medicine Foundation</strong>
          <address>8735 W. Higgins Road, Suite 300 &#8226; Chicago, Il 60631 &#8226; 847.375.4731</address>
        </div>
        <div class="ctn-sublist">
          <ul class="subFT-links">
            <li><a href="#">VISIT AAPM</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
    </div>
  <!-- END OF CTN-PAGE -->
  </div>

   <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
  </body>
</html>
