<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../public/javascripts/ie8compatibility.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LEADERSHIP PAGE</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/stylesheets/common.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/initiatives.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/leadership.css" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/animations.css" media="screen">
  </head>
  <body>
          <!-- HEADER AND NAVIGATION SECTION -->
    <header>
      <a href="file:///Users/teresatorres/dev/wdi/AMC/views/index.html" target="_self"><img class="aapmLogo" src="../public/images/AAPMF-logo.png" alt="AAPMF logo and link to aapmfoundation.org" title="The American Academy of Pain Medicine Foundation"/></a>
      <div class="hamIcon" title="navigational menu drop down">
          <div class="menuText">menu</div>
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
      </div>
      <nav>
        <ul class="nav-list">
          <li title="WRITE A SHORT DESCRIPTION OF THIS BUTTON"><a class="callAct" href="#" target="_self">DONATE</a></li>
          <li><a class="nav-link" href="#" target="_self">ABOUT</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/initiatives.html" target="_self">INITIATIVES</a></li>
          <li><a class="nav-link" href="file:///Users/teresatorres/dev/wdi/AMC/views/donors.html" target="_self">DONORS</a></li>
          <li><a class="nav-link activeLink" href="file:///Users/teresatorres/dev/wdi/AMC/views/leadership.html" target="_self">LEADERSHIP</a></li>
          <li><a class="nav-link" href="#" target="_self">GRANTS (TBD)</a></li>
        </ul>
      </nav>
    </header>

      <!-- WRAPPER FOR PAGE CONTENT -->
  <div class="ctn-page">

      <!-- MAIN INITIATIVE SECTION AND IMAGE -->
    <section class="sc-Hero">
      <article class="hero-Art">
        <div class="ctn-thumb">
          <img class="hero-thumb" src="../public/images/docTutorial-thumbnail.jpg" alt="" />
        </div>
        <div class="hero-art-ctn">
          <h1 class="hero-Headline">AAPM FOUNDATION LEADERSHIP</h1>
          <p>
            Valuable volunteers, loyal leaders, and meaningful contributers have allowed the AAPM Foundation to advance the detection and treatment of pain.
          </p>
        </div>
      </article>
    </section>

      <!-- LEADESHOP SECTION AND IMAGES -->
      <section class="sc-leadershipImg">
        <div class="top-images">
          <figure>
            <img src="../public/images/CharlesArgoff_MD.jpg" alt="Image of Charles Argoff, MD. President" />
            <h4>PRESIDENT</h4>
            <figcaption>Charlse Argoff, MD</figcaption>
          </figure>
          <figure>
            <img src="../public/images/MarshaStanton_PhD_RN.jpg" alt="Image of Marsha Stanton, Phd RN. Treasurer &amp Secretary" />
            <h4>TREASURER &amp; SECRETARY</h4>
            <figcaption>Marsha Stanton, Phd RN</figcaption>
          </figure>
        </div>

        <h3 class="ld-directors">BOARD OF DIRECTORS</h3>
        <div class="middle1-images">
          <figure>
            <img src="../public/images/JeremyAdler_MS_PA_C.jpg" alt="Jeremy Adler, MS PA-C. Member of AAPM Board of Directors" />
            <figcaption>Jeremy Adler, MS PA-C</figcaption>
          </figure>
          <figure>
            <img src="../public/images/GilBashe.jpg" alt="Gil Bashe. Member of AAPM Board of Directors" />
            <figcaption>Gil Bashe</figcaption>
          </figure>
          <figure>
            <img src="../public/images/PatriciaBruckenthal_PhD.jpg" alt="Patricia Bruckenthal, PhD. Member of AAPM Board of Directors" />
            <figcaption>Patricia Bruckenthal, PhD</figcaption>
          </figure>
        </div>
        <div class="middle2-images">
          <figure>
            <img src="../public/images/MichelleByers.jpg" alt="Michelle Byers. Member of AAPM Board of Directors" />
            <figcaption>Michelle Byers</figcaption>
          </figure>
          <figure>
            <img src="../public/images/BToddSitzman_MD_MPH.jpg" alt="B. Todd Sitzman, MD MPH. Member of AAPM Board of Directors" />
            <figcaption>B. Todd Sitzman, MD MPH</figcaption>
          </figure>
          <figure>
            <img src="../public/images/KevinWeber.jpg" alt="Kevin Weber. Member of AAPM Board of Directors" />
            <figcaption>Kevin Weber</figcaption>
          </figure>
        </div>

        <h3 class="ld-directors">AAPM LIAISON DIRECTOR</h3>
        <div class="bottom-images">
          <figure>
            <img src="../public/images/JeremyAdler_MS_PAC.jpg" alt="Jeremy Adler, MS PA-C. AAPM Liaison Director" />
            <figcaption>Jeremy Adler, MS PA-C</figcaption>
          </figure>
        </div>
      </section>

        <!-- FOOTER AND SUB-FOOTER ELEMENT-->
    <footer>
      <div class="att-text">
        <h2>Footer Call-to-Action Headline!</h2>
        <p>Curabitur sed nulla nibh. Fusce pretium finibus diam, non egestas erat mattis quis.</p>
      </div>
      <div class="btt-ct">
          <a class="buttonDonate" href="#" target="_self" title="WRITE A SHORT DESCRIPTION OF THIS BUTTON">DONATE</a>
          <i>Supporting Statement</i>
      </div>
    </footer>
    <div class="sub-footer">
        <div class="loc-info">
          <strong> &copy; The American Academy of Pain Medicine Foundation</strong>
          <address>8735 W. Higgins Road, Suite 300 &#8226; Chicago, Il 60631 &#8226; 847.375.4731</address>
        </div>
        <div class="ctn-sublist">
          <ul class="subFT-links">
            <li><a href="#">VISIT AAPM</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
    </div>
  <!-- END OF CTN-PAGE -->
  </div>

   <!-- SCRIPTS DEPENDENCIES -->
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <!-- APPLICATION JAVASCRIPT -->
    <script src="../public/javascripts/app.js"></script>
  </body>
</html>
